{% extends "AppCoder/base.html" %}
{% load static %}
{% block body %}
<h1>Listado de Cursos</h1>

<a href={% url 'NuevoCurso' %}>Nuevo Curso</a>
<form action="" method="GET">
    {% csrf_token %}
    {{formulario.as_p}}
    <input type="submit" value="Buscar">
</form>
{% if cursos %}
{% for curso in cursos %}
<li>Nombre: {{curso.nombre}}
    <p>
        <a href="{% url 'DetalleCurso' curso.pk %}">Ver</a>
        {% if user.is_authenticated %}
        |
        <a href="{% url 'EditarCurso' curso.pk %}">Editar</a>
        {% if user.is_superuser %}
        |
        <a href="{% url 'BorrarCurso' curso.pk %}">Borrar</a>
        {% endif %}
        {% endif %}
        
    </p>
</li>

{% endfor %}
{% else %}
<p>No se encontraron resultados.</p>
{% endif %}
{% endblock body %}

